# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a+b
print("add is of the type",type(add))

add is of the type <class 'float'>

### 2. Is 5 == (3+2)?

In [2]:
print(5==(3+2))

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3
b = 33+a
print(b)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [4]:
print(type(float(a)))

<class 'float'>

### 5. What will be 5 times *a* if the value of a is 10?

In [6]:
a = 10
print(a*5)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [7]:
b = 10
h = 5
area = 0.5*b*h
print("The area of the triangle is:",area)

The area of the triangle is: 25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [8]:
v = 10
w = 25
x = 70
y = 2

z = (v+w)*(x/y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [9]:
a = 10
b = 5
c = 0

print("The values before swapping are: a = ", a,"b = ", b)

c = b
b = a
a = c

print("The values after swapping are: a = ", a,"b = ", b)

The values before swapping are: a =  10 b =  5
The values after swapping are: a =  5 b =  10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [12]:
c = 35
f = (1.8*c)+32

print(c,"degrees celsius in fahrenheit is:",f)

35 degrees celsius in fahrenheit is: 95.0

-------------